<div class="d-flex gap-1">
    <a href="/Calc/?press=+" class="btn btn-primary">Sum</a>
    <a href="/Calc/?press=-" class="btn btn-secondary">Sub</a>
    <a href="/Calc/?press=*" class="btn btn-success">Mul</a>
    <a href="/Calc/?press=/" class="btn btn-danger">Div</a>
</div>