<div class="min-vw-100 d-flex flex-column align-items-center justify-content-center" style="background-color: #f8f9fa;">
    <h1 class="h1" style="color: #6c757d;">Create role</h1>
    <form class="d-flex flex-column gap-3 w-75 border-1 rounded-2 border bg-opacity-25 p-3" method="post" action="/Admin/CreateRole" style="background-color: #e9ecef;">
        <div class="w-100 d-flex gap-2">
            <label class="text-black w-25" style="color: #495057;">Role name:</label>
            <input class="form-control" name="name" value="@ViewBag.Name" style="border-color: #ced4da;" />
        </div>
        <button type="submit" class="btn btn-success" style="background-color: #28a745; border-color: #28a745;">Create</button>

        @await Html.PartialAsync("ErrorsBlock")
    </form>
</div>
