<form class="d-flex flex-column align-items-center justify-content-center border rounded p-3 bg-white" method="post" action="/Admin/SignOut">
    <button type="submit" class="btn btn-block btn-danger">Sign Out</button>

    @await Html.PartialAsync("ErrorsBlock")
</form>
